<div class="container py-5">
	<div class="row flex-column align-items-center my-5">
		<div class="col-12 col-md-10 col-lg-8 d-flex align-items-center">
			<img
				src="assets/svg/Title.svg"
				alt="Montréal Open &quot;Poutine The Net&quot; 2019 - Tournoi de Bike Polo Tournament"
				class="d-block w-75 h-auto mr-5"
			/>
			<img
				src="assets/svg/Date.svg"
				alt="13 & 14 juillet 2019"
				class="d-block w-25 h-auto"
			/>
		</div>
		<div class="col-12 col-md-10 col-lg-8 d-flex align-items-center">
			<img
				src="assets/svg/Poutine.svg"
				alt="Poutine Montréal Bike Polo"
				class="d-block w-100 h-auto"
			/>
		</div>
	</div>

	<div class="row pt-5 mb-5">
		<div class="col-12">
			<h2 class="text-center mb-4">{{ '16-teams-title' | translate }}</h2>
			<h3 class="text-center">3v3 / 12min.</h3>
			<h3 class="text-center">{{ 'sr-de' | translate }}</h3>
		</div>
	</div>

	<div class="row justify-content-center pt-5">
		<div class="col-12 mb-4">
			<h2 class="text-center mb-4">{{ 'sponsors-title' | translate }}</h2>
			<h3 class="text-center mb-4">
				{{ 'sponsors-subtitle' | translate }}
			</h3>
		</div>
		<div class="col-12 col-md-4">
			<a
				href="https://veloibike.ca"
				target="_blank"
				class="rectangle bg-contain text-hide"
				[style.background-image]="'url(assets/svg/Ibike.svg)'"
				title="Vélo Ibike"
				>Vélo Ibike</a
			>
		</div>
		<div class="col-12 col-md-4">
			<a
				href="#"
				target="_blank"
				class="rectangle bg-contain text-hide"
				[style.background-image]="'url(assets/svg/Olympia.svg)'"
				title="Olympia Wheel Co."
				>Olympia Wheel Co.</a
			>
		</div>
		<div class="col-12 col-md-4">
			<a
				href="https://www.instagram.com/ibikecrit/"
				target="_blank"
				class="rectangle bg-contain text-hide"
				[style.background-image]="'url(assets/svg/IbikeCrit.svg)'"
				title="Ibike Crit"
				>Ibike Crit</a
			>
		</div>
	</div>
	<div class="row mb-3 justify-content-center">
		<div class="col-12 col-md-4 col-lg-3">
			<a
				href="https://www.atwateratelier.com/"
				target="_blank"
				class="rectangle bg-contain text-hide"
				[style.background-image]="'url(assets/svg/Atwater.svg)'"
				title="Atwater Atelier"
				>Atwater Atelier</a
			>
		</div>
		<div class="col-12 col-md-4 col-lg-3">
			<a
				href="https://www.facebook.com/headhauscaps"
				target="_blank"
				class="rectangle bg-contain text-hide"
				[style.background-image]="'url(assets/svg/HeadHaus.svg)'"
				title="Had Haus Caps"
				>Had Haus Caps</a
			>
		</div>
		<div class="col-12 col-md-4 col-lg-3">
			<a
				href="https://byckl.com/"
				target="_blank"
				class="rectangle bg-contain text-hide"
				[style.background-image]="'url(assets/svg/Byckl.svg)'"
				title="Byckl"
				>Byckl</a
			>
		</div>
	</div>
	<div class="row mb-5 justify-content-center mb-5">
		<div class="col-12 col-md-4 col-lg-3">
			<a
				href="https://glutenberg.ca/"
				target="_blank"
				class="rectangle bg-contain text-hide"
				[style.background-image]="'url(assets/svg/Glutenberg.svg)'"
				title="Glutenberg"
				>Glutenberg</a
			>
		</div>
		<div class="col-12 col-md-4 col-lg-3">
			<a
				href="https://www.escape.cafe/"
				target="_blank"
				class="rectangle bg-contain text-hide"
				[style.background-image]="'url(assets/svg/Escape.svg)'"
				title="Escape café"
				>Escape Café</a
			>
		</div>
	</div>

	<div class="row pt-5 mb-5">
		<div class="col-12">
			<h2 class="text-center mb-4">{{ 'the-court' | translate }}</h2>
			<h3 class="text-center mb-5">Montreal, QC H2K 4H7</h3>
			<iframe
				src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d89.33891867380589!2d-73.55447731744539!3d45.52319312540854!2m3!1f0!2f39.55963664792648!3f0!3m2!1i1024!2i768!4f35!3m3!1m2!1s0x4cc91bbabc815d91%3A0x6e75f583f63ab127!2sPatinoire+ext%C3%A9rieure+pour+patins+%C3%A0+roues+allign%C3%A9es+-+Outdoors+rollerblade+hockey+rink!5e1!3m2!1sfr!2sca!4v1560465418850!5m2!1sfr!2sca"
				width="100%"
				height="450"
				frameborder="0"
				style="border:0"
				allowfullscreen
				class="rounded"
			></iframe>
		</div>
	</div>

	<div class="row pt-5 mb-5">
		<div class="col-12">
			<h2 class="text-center mb-4">{{ 'schedule' | translate }}</h2>
			<h3 class="text-center mb-5">{{ 'cooked' | translate }}</h3>
		</div>
		<div class="col-12">
			<div class="row">
				<div class="col-12 col-md-6 mb-4 mb-md-0">
					<h4 class="text-center mb-4 pb-3 border-bottom border-dark">
						{{ 'saturday' | translate }}
					</h4>
					<p class="text-center mb-4">
						{{ 'saturday-breakfast' | translate }}
					</p>
					<p class="text-center mb-4">
						{{ 'saturday-morning-first_game' | translate }}
					</p>
					<p class="text-center mb-4">
						{{ 'saturday-poutine' | translate }}
					</p>
					<p class="text-center mb-4">
						{{ 'saturday-afternoon-first_game' | translate }}
					</p>
					<p class="text-center">
						{{ 'saturday-night-party' | translate }}
					</p>
				</div>
				<div class="col-12 col-md-6">
					<h4 class="text-center mb-4 pb-3 border-bottom border-dark">
						{{ 'sunday' | translate }}
					</h4>
					<p class="text-center mb-4">
						{{ 'saturday-breakfast' | translate }}
					</p>
					<p class="text-center mb-4">
						{{ 'sunday-first_game' | translate }}
					</p>
					<p class="text-center mb-4">
						{{ 'sunday-bbq' | translate }}
					</p>
					<p class="text-center mb-4">
						{{ 'sunday-finals' | translate }}
					</p>
					<p class="text-center">
						{{ 'sunday-prizes-group-photo' | translate }}
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="row pt-5 mb-5">
		<div class="col-12">
			<h2 class="text-center mb-4">{{ 'refering' | translate }}</h2>
			<h3 class="text-center mb-4">{{ 'good-polo' | translate }}</h3>
			<div class="row justify-content-center">
				<div class="col-12 col-md-8 col-lg-6">
					<p
						class="text-center"
						[innerHTML]="'good-polo-p' | translate"
					></p>
				</div>
			</div>
			<div class="mt-4 w-100 d-flex justify-content-center">
				<a target="_blank" href="assets/nah-ruleset-2017.pdf"
					><h4
						[innerHTML]="'read-rules' | translate"
						class="text-center"
					></h4
				></a>
			</div>
		</div>
	</div>

	<div class="row pt-5 mb-5">
		<div class="col-12">
			<h2 class="text-center mb-4">{{ 'facebook-event' | translate }}</h2>
			<div class="mt-4 w-100 d-flex justify-content-center">
				<a
					target="_blank"
					href="https://www.facebook.com/events/379106942958866/"
					><h4
						[innerHTML]="'join-us-fb-event' | translate"
						class="text-center"
					></h4
				></a>
			</div>
		</div>
	</div>

	<div class="row pt-5 mb-5">
		<div class="col-12">
			<h2 class="text-center mb-3">{{ 'footer' | translate }}</h2>
			<h3 class="text-center mb-3">{{ 'footer_02' | translate }}</h3>
			<p class="text-center mb-0" style="font-size:10vw">😁😘🤘🏑🚲🍟</p>
		</div>
	</div>

	<div class="row">
		<div class="col-12">
			<img
				src="assets/svg/MontrealBikePolo.svg"
				alt="Montréal Bike Polo"
				class="d-block w-25 h-auto mx-auto"
			/>
		</div>
	</div>
</div>
